$color-primary: #426BAB;
$color-accent: #DB8AC7;
$color-light: #F9F1F7;
$color-lightgrey: #C5CFD3;
$color-black: #262722;

$font-default: 'Open Sans', sans-serif;
$font-special: 'Cormorant Garamond', serif;

$spacer: 20px;