---
layout: layouts/main.njk
title: Aktuality
---

<main class="main">

    <div class="content">

    <article class="news">

        <div class="news__left">

            <h1 class="news__title">{{ title }}</h1>
            <p class="news__meta">Zveřejněno {{ page.date.toLocaleString('cs-CZ') }}</p>
            <div class="news__content">

                {{ content | safe }}
            
            </div>

        </div>

        <div class="news__right">
            <img class="news__img" src="/images/{{ photo }}" alt="{{ alt }}">
        </div>

        <a href="/aktuality/" class="fa-solid fa-arrow-left-long"></a>
        

    </article>

    </div>

</main>
